* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.categorias {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.receita {
    align-items: start;
    display: flex;
    gap: 1.5em;
    padding: 2rem;
    border: 1px solid #dfdbdb;
    border-radius: 15px;
    background-color: #dfdbdb;
    box-shadow: rgba(23, 23, 23, 0.2) 20px 20px 20px;
}


.receitas {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 250ms;
}

a:hover {
    color: #d1cbcb;
}

.receita-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul, ol {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

p {
    margin-left: 10px;
     
}

button {
    border: none;
    border-radius: 15px;
    background-color: #d1cbcb;
    padding: 0.5rem;
    cursor: pointer;
}

button:hover {
    transition: 250ms;
    background-color: #b6b3b3;
}

img {
    width: 400px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}